nav {
  color: #1d89ff; 
  height: 120px;
  width: 100%;
  background-color: black;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

nav span {
  font-family: 'Bungee', sans-serif;
  font-size: 36px;
  margin: 1.5em;
}

nav div {
  margin: 1.5em;
  font-size: 24px;
  white-space: pre-line;
}

#app {
  display: none;
}

@media only screen and (max-width: 767px) {
  nav {
    color: white; 
    height: 120px;
    width: 100%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
  }
  #app {
    display: flex;
    flex-direction: center;
  }
  #title {
    display: none;
  }
}